<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>ProxibanqueSIV2</display-name>

	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>fr.formation.proxi.presentation.IndexServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/index.html</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TransferServlet</servlet-name>
		<servlet-class>fr.formation.proxi.presentation.TransferServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TransferServlet</servlet-name>
		<url-pattern>/transfer.html</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditorServlet</servlet-name>
		<servlet-class>fr.formation.proxi.presentation.EditorServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EditorServlet</servlet-name>
		<url-pattern>/modify.html</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AccountServlet</servlet-name>
		<servlet-class>fr.formation.proxi.presentation.AccountServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AccountServlet</servlet-name>
		<url-pattern>/account.html</url-pattern>
	</servlet-mapping>
	
	<error-page>
	<error-code>404</error-code>
		<location>/WEB-INF/views/error.jsp</location>
	</error-page>
	<error-page>
	<error-code>500</error-code>
		<location>/WEB-INF/views/error.jsp</location>
	</error-page>

</web-app>